@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #232227;
}

.container {
    width: 90%;
    margin: auto;
}

.header-title {
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 120px;
    color: #FFFFFF;
}

.footer-title {
    font-style: normal;
    font-weight: 900;
    font-size: 82px;
    line-height: 100px;

    color: #FFFFFF;
}

.footer-text {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #9F9F9F;
}

.section-title {
    font-style: normal;
    font-weight: 600;
    font-size: 62px;
    line-height: 36px;
    color: #FFFFFF;
}

.section-sub-title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FF3F62;
}

.section-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #E2E2E2;
}

.section-button {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    color: #000000;
    padding: 20px 45px;
    background-color: #FEAA00;
    border-radius: 40px;
    text-decoration: none;
}

.nav-menu {
    background-color: #232227;
    height: 150px;
    display: flex;
    /* position: fixed; */
    width: 100%;
}

.menu-figure {
    position: absolute;
    width: 137px;
    height: 107px;
    margin-left: 140px;
    background: #36343F;
    border-radius: 0px 0px 57.5px 57.5px;
}

.menu-left-img {
    position: absolute;
    background: url("img/image\ 7\ \(1\).png") center/cover no-repeat;
    width: 121.52px;
    height: 50px;
    transform: rotate(0deg);
    margin-left: 140px;
    margin-top: 20px;
}



.menu-center {
    margin-left: 400px;
    position: relative;
    top: 50px;
    margin-right: 400px;

}

.menu-item {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 86px;
}

.menu-right {
    position: relative;
    top: 44px;
}

.menu-img {
    margin-right: 20px;
}

.header {
    background-color: #232227;
}

.header-left {
    width: 40%;
    margin-top: 100px;
}

.header-right {
    position: relative;
}

h1 {
    margin-bottom: 20px;
}

.header-block-info p {
    margin-bottom: 20px;
}

.btn-info {
    display: flex;
    width: 100%;
    margin-bottom: 122px;
}

.special-text {
    font-size: 20px;
    color: white;
    align-self: center;
    margin-left: 40px;
    margin-right: 10px;
    position: relative;
    top: 8px;
}

.arrow {
    width: 40px;
    height: 20px;
    align-self: center;
}

.header-cards {
    display: flex;
    justify-content: space-between;
}

.header-card {
    background-color: #36343F;
    width: 222px;
    height: 273px;
    vertical-align: middle;
    margin: auto;
    text-align: center;
    border-radius: 120px;
    margin-right: 20px;
}

.header-title-span {
    color: white;
    padding: 1px 5px;
    border-radius: 0px;
    background-color: #FF3F62;
    margin-right: 10px;
    font-size: 4rem;
}

.header-card-img {
    margin-top: 20px;
}

.header-right-figure {
    width: 569px;
    height: 1193px;
    background-color: #36343F;
    border-radius: 284.5px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-right-img {
    background: url("img/header-img.png") center/cover no-repeat;
    width: 856px;
    height: 1180px;
    position: absolute;
    top: 10px;
    left: -199px;
}

.header-right-logo {
    background: url("img/header-sub-img.png") center/cover no-repeat;
    width: 236px;
    height: 95px;
    background-color: white;
    position: absolute;
    top: 500px;
    left: 250px;
}

.brands {
    background-color: #232227;
    margin-top: 110px;
    margin-bottom: 150px;
}

.brands-content {
    display: flex;
    justify-content: space-between;
}

.brand-img {
    margin-right: 40px;
}

.brand-title {
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.brand-text {
    width: 70%;
    line-height: 1.2rem;
}

.services {
    width: 100%;
}

.services-content {
    text-align: center;
}

.serv-sub-title {
    margin-bottom: 40px;
}

.serv-title {
    margin-bottom: 40px;
}

.serv-text {
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}

.services-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.serv-card {
    width: 30%;
    background-color: #36343F;
    margin-bottom: 100px;
    padding: 150px 20px;
    border-radius: 255.5px;
}

.serv-card img {
    margin-bottom: 20px;
}

.serv-card h2 {
    margin-bottom: 30px;
}

.serv-card p {
    width: 70%;
    margin: 20px auto;
}

.serv-card a {
    color: white;
}

.team-content {
    text-align: center;
}

.team-text {
    width: 50%;
}

.profile-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.profile-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #989292;
}
.team-cards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 160px;
}
.team-card{
    width: 20%;
}
.card-top{
    background-color:#36343F;
    padding-right: 40px;
    padding-left: 20px;
    border-radius: 10px 10px 0 0;
}
.card-bottom{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-b-left{
    text-align: left;
    margin-left: 20px;
}
.card-b-right{
    margin-right: 20px;
    margin-top: 15px;
}
.footer{
    background-color: #000000;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    padding-top: 140px;
    margin-bottom: 120px;
}
.footer-card{
    text-align: center;
}
.footer-card-3{
    margin-top: 20px;
}
.footer-bottom{
    text-align: center;
    padding-bottom: 100px;
}
.footer-bottom h2{
    margin-bottom: 40px;
}



@media(max-width:1400px){
    .container{
        width: 100%;
    }
    .nav-menu{
        height: auto;
        display: flex;
    }
    .menu-center{
        margin-left: 0;
        margin-right: 0;
        position: static;
    }
    .menu-figure{
        margin: 0;
        position: static;
    }
    .menu-left-img{
        position: absolute;
        margin: 0;
        top: 10px;
        left: 0;
    }
    .menu-right{
        position: static;
    }
    .header-left{
        width: 100%;
    }
    .header-right{
        width: 100%;
        position: relative;
        display: none;

    }
    .header-content{
        flex-direction: column;
        text-align: center;
    }
    .header-right-logo{
        display: none;
    }
    .header-right-img{
        position: absolute;
        top: 100px;
        width: 700px;
        height: 1180px;
        display: none
    }
    .header-title{
        font-size: 50px;
        line-height: 80px;
    }
    .section-button{
        font-size: 18px;
        font-weight: 900;
    }
    .header-cards{
        flex-direction: column;
        justify-content: center;
    }
    .header-card{
        margin: auto;
        width: 80%;
        margin-bottom: 50px;
    }
    .brands-content{
        flex-direction: column;
        text-align: center ;
    }
    .brand-img{
        margin-bottom: 20px;
    }
    .brand-text{
        width: 100%;
    }
    .brands-left{
        margin-bottom: 50px;
    }
    .serv-text{
        width: 100%;
    }
    .serv-title{
       line-height: 80px; 
    }
    .services-cards{
        flex-direction: column;
    }
    .serv-card{
        width: 100%;
        padding: 80px 20px;
    }
    .serv-card h2{
        line-height: 60px;
    }
    .team-cards{
        flex-direction: column;
    }
    .team-card{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-top{
        flex-direction: column;
    }
    .footer-card{
        margin-bottom:80px;
    }
    .footer-title{
        font-size: 60px ;
    }
}